/* Estilos personalizados */
.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.icon-square {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-fluid {
  max-height: 300px;
  object-fit: cover;
}

.bg-light {
  background-color: #f8f9fa!important;
}